.invitadas{
    width: 100%;
    margin-top: -90px;
}
.invitadastitle {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 36px;
    color: #060A24;
    font-weight: 100;
    margin-left: 16px;
}
.imageinvitadas{
    display: grid;
    grid-template-columns: repeat(1, 320px);
    grid-template-rows: repeat(6, 243px);
}
.imageinvitadas img{
    width: 100%;    
}
@media screen and (min-width: 768px){
    .invitadas{
        width: 100%;
    }
    .invitadastitle{
        font-size: 48px;
        margin-left: 200px;
    }
    .imageinvitadas{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        margin-top: 36px;
    }
}